.move-up-enter-active, .move-up-appear {
	animation-duration: $animation-time;
	animation-fill-mode: both;
	animation-name: xuiMoveUpIn;
	animation-timing-function: ease-in-out
}

.move-up-leave-active {
	animation-duration: $animation-time;
	animation-fill-mode: both;
	animation-name: xuiMoveUpOut;
	animation-timing-function: ease-in-out
}

// .move-up-move {
//   transition: all $animation-time;
// }

@keyframes xuiMoveUpIn {
  0% {
    transform-origin: 0 0;
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform-origin: 0 0;
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes xuiMoveUpOut {
  0% {
    transform-origin: 0 0;
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform-origin: 0 0;
    transform: translateY(-100%);
    opacity: 0;
  }
}
