$--color-primary: #337EFF;

$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #909399;

$--color-text-regular: #606266;
$--color-text-placeholder: #C0C4CC;

$--border-color-base: #DCDFE6;

$--background-color-base: #F5F6FA;

$--color-white: #FFFFFF;
$--color-black: #000000;
